*.log
*.audit
*.bnd
*.csv
*.eio
*.err
*.eso
*.mdd
*.mtd
*.rdd
*.rvaudit
*.shd
maison_bcvtb.sql
*.svg
maison_bcvtbTable.html
output.txt
output_TC.txt
output_TH.txt
variablesGlobales.txt
variablesRelance.txt
variablesEnvironnement.txt
variablesStatistiques.txt
variablesCsvStatistiques.txt
python/variablesRelance.txt
python/variablesEnvironnement.txt
ExampleFiles/*
*.pyc
*.end
*.dbg
*.mtr
Energy+.idd
Energy+.ini
In.idf
in.stat
eplusout.sql
in.epw
